.item-box {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    margin: 5px 0px 0px 5px;
    transition: box-shadow 200ms;
}

.item-box:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.item-img {
    width: 100%;
    height: auto;
}
.item-name {
    font-weight: 600;
    font-size: 1.8vw;
}

.item-description {
    font-weight: 300;
    font-size: 1.5vw;
}

.item-text-container {
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 5px;
    max-width: 300px;
}