.project-box {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;
}

.project-box:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.project-img {
    width: 100%;
    height: auto;
}
.project-name {
    font-weight: 600;
    font-size: 1rem;
}

.project-description {
    font-weight: 300;
    font-size: 2vw;
}

.project-text-container {
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 5px;
    max-width: 300px;
}