* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Poppins';
}

.container {
    display: inline-block;
}

.content-container {
    margin-top: 7vh;
}

.navigation-bar {
    height: 7vh;
}

